{
  "bracketSameLine": true,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "plugins": [
    "prettier-plugin-svelte",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "importOrder": ["^@", "<THIRD_PARTY_MODULES>", "", "^\\$(?!lib/)", "^\\$lib/", "", "^[.]"],
  "tailwindStylesheet": "./src/routes/layout.css",
  "tailwindFunctions": ["clsx", "cn"]
}
